[Unit]
Description=micro-ros launch
After=multi-user.target network.target

[Service]
Environment="ROS_LOG_DIR=/var/log/ros2"
Environment="ROS_DOMAIN_ID=96"
ExecStart=distrobox enter ros-ubuntu -- /bin/bash -c 'source /opt/ros/humble/setup.bash; source /home/capra/uros_ws/install/local_setup.bash; ros2 run micro_ros_agent micro_ros_agent serial --dev /dev/serial0 -4'
Restart=on-failure
RestartSec=2s
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
